* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(0, 46, 154);
    padding: 10px;
}

.container {
    height: 80px;
    width: 1040px;
    border: 1px solid rgb(88, 10, 137);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main{
    height: 65vh;
}

.main_container {
    border: 1px solid rgb(84, 11, 124);
    width: 1040px;
    margin: 0 auto;
    min-height: 450px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
}
.footer{
    margin: 0 auto;
    width: 1040px;
    margin-top: 40px;
    padding: 12px 100px;
    
}

.title__game{
    color: rgb(85, 5, 160);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.paragraph__game{
    color: rgb(109, 12, 183);
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    padding: 10px 80px;
    color: rgb(7, 159, 173);
    margin: 0 auto;
    background-color: rgb(83, 19, 121);
    border-radius: 5px;
    margin-left: 430px;
}

.btn:hover{
    background-color: rgb(83, 7, 104);
    transition: 1000ms;
    padding: 10px 80px;
    transform: scale(1.2);
}

.animation{
    transition: 100ms;
    /* background: url(./img.png); */
    background-size: cover;
    background-repeat: no-repeat;
    width: 1040px;
    height: 480px;
    
}